body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 10px;
  background-color: bisque;
}

.container {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  gap: 5px;
  background-color: rgb(222, 142, 142);
  padding: 10px;
  border: 1px solid rgb(50, 139, 183);
  border-radius: 10px;
  font-family: monospace;
  font-size: large;
}
